<div class="container">
    <nav class="navbar navbar-fixed-top  navigation " id="top-nav">
        <a class="navbar-brand" href="#">
            {{ with .Site.Params.navigation.logo }}
            <img src="{{ . }}" alt="logo">
            {{ end }}
        </a>
        <button class="navbar-toggler hidden-lg-up float-lg-right" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <i class="tf-ion-android-menu"></i>
        </button>
        <div class="collapse navbar-toggleable-md" id="navbarResponsive">
            <ul class="nav navbar-nav menu float-lg-right" id="top-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        {{ with .Site.Params.navigation.home }} {{ . }} {{ end }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ .Site.BaseURL }}#youtube">
                        Video
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ .Site.BaseURL }}#photo-gallery">
                        Photos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ .Site.BaseURL }}#about">
                        About
                    </a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="mailto:gwyattkelsey@gmail.com">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>